Schemas/Validate/Validator/EULYNX_DP_V1.1_Schema/RsmNetEntity.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rsmCommon="http://www.railsystemmodel.org/schemas/Common/202206" xmlns:rsmNE="http://www.railsystemmodel.org/schemas/NetEntity/202206" elementFormDefault="qualified" targetNamespace="http://www.railsystemmodel.org/schemas/NetEntity/202206">
  <!--<dc:date>2022-07-21T11:55:48Z</dc:date><dc:creator>rtm2xsd 1.10.0</dc:creator><dc:source>Model 202206, XMI 2.4.1, EA 13</dc:source>-->
  <xs:annotation>
    <xs:documentation>
This XML schema file was generated by the EULYNX DataPrep workgroup.
Detailed technical information is found on https://rsm.uic.org
</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.railsystemmodel.org/schemas/Common/202206" schemaLocation="RsmCommon.xsd"/>
  <xs:complexType abstract="true" name="LocatedNetEntity">
    <xs:annotation>
      <xs:documentation>An entity in the network that can be located, i.e. most infrastructure-related objects.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rsmNE:NetEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="locations" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>The location of a net entity.
Specialised classes such as junctions provide their own location information and need not use this role.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>rsmCommon:BaseLocation</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="NetEntity">
    <xs:annotation>
      <xs:documentation>An entity of the infrastructure that is anchored to the topology.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rsmCommon:NetworkResource"/>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

