Validate/Validator/EULYNX_DP_V1.1_Schema/RFI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generic="http://dataprep.eulynx.eu/schema/Generic/1.1" xmlns:rfi="http://dataprep.eulynx.eu/schema/RFI/1.1" xmlns:rsmCommon="http://www.railsystemmodel.org/schemas/Common/202206" xmlns:sig="http://dataprep.eulynx.eu/schema/Signalling/1.1" elementFormDefault="qualified" targetNamespace="http://dataprep.eulynx.eu/schema/RFI/1.1">
  <!--<dc:date>2022-07-21T11:55:48Z</dc:date><dc:creator>rtm2xsd 1.10.0</dc:creator><dc:source>Model 1.1, XMI 2.4.1, EA 13</dc:source>-->
  <xs:annotation>
    <xs:documentation>
This XML schema file was generated by the EULYNX DataPrep workgroup.
Detailed technical information is found on https://rsm.uic.org
</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.railsystemmodel.org/schemas/Common/202206" schemaLocation="RsmCommon.xsd"/>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Generic/1.1" schemaLocation="Generic.xsd"/>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Generic/1.1" schemaLocation="Generic.xsd"/>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Signalling/1.1" schemaLocation="Signalling.xsd"/>
  <xs:complexType name="LensDiffuser">
    <xs:annotation>
      <xs:documentation>RFI lens diffuser type.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:LensDiffuser">
        <xs:sequence>
          <xs:element name="isOfLensDiffuserType" nillable="true" type="rfi:LensDiffuserTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dataPrepEntities" type="rfi:DataPrepEntities"/>
  <xs:complexType name="DataPrepEntities">
    <xs:complexContent>
      <xs:extension base="generic:DataPrepEntities"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SignalAlignment">
    <xs:complexContent>
      <xs:extension base="sig:SignalAlignmentPointOnTrack">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="alpha" nillable="true" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>The angle in degrees between tangent to the track and signal target direction at a distance of 300m or less.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Designation">
    <xs:annotation>
      <xs:documentation>Italian track assets are labeled with a series
of strings: prefix + number + fullname 

it-IT: I track asset italiani sono etichettati con una serie di stringhe: 
prefisso + numero + nome completo 

E.g.  prefix="Savv",  number="03",  fullname="Savv03"
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generic:Designation">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="fullName" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="number" nillable="true" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="1" name="prefix" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>S or Savv</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LensDiffuserTypes">
    <xs:annotation>
      <xs:documentation>RFI lens diffuser types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="line">
        <xs:annotation>
          <xs:documentation>O </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="highRadius">
        <xs:annotation>
          <xs:documentation>A
raggio di curvatura &amp;lt; 7500 m</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lineCurveToRight">
        <xs:annotation>
          <xs:documentation>Bd
raggio di curvatura &amp;lt; 1500 m</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lineCurveToLeft">
        <xs:annotation>
          <xs:documentation>Bs
raggio di curvatura &amp;lt; 1500 m</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

