Validate/Validator/EULYNX_DP_V1.1_Schema/TRV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generic="http://dataprep.eulynx.eu/schema/Generic/1.1" xmlns:rsmCommon="http://www.railsystemmodel.org/schemas/Common/202206" xmlns:sig="http://dataprep.eulynx.eu/schema/Signalling/1.1" xmlns:trv="http://dataprep.eulynx.eu/schema/TRV/1.1" elementFormDefault="qualified" targetNamespace="http://dataprep.eulynx.eu/schema/TRV/1.1">
  <!--<dc:date>2022-07-21T11:55:48Z</dc:date><dc:creator>rtm2xsd 1.10.0</dc:creator><dc:source>Model 1.1, XMI 2.4.1, EA 13</dc:source>-->
  <xs:annotation>
    <xs:documentation>
This XML schema file was generated by the EULYNX DataPrep workgroup.
Detailed technical information is found on https://rsm.uic.org
</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Generic/1.1" schemaLocation="Generic.xsd"/>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Generic/1.1" schemaLocation="Generic.xsd"/>
  <xs:import namespace="http://www.railsystemmodel.org/schemas/Common/202206" schemaLocation="RsmCommon.xsd"/>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Signalling/1.1" schemaLocation="Signalling.xsd"/>
  <xs:complexType name="AtcBalise">
    <xs:annotation>
      <xs:documentation>EBICAB balise.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:Balise"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dataPrepEntities" type="trv:DataPrepEntities"/>
  <xs:complexType name="DataPrepEntities">
    <xs:complexContent>
      <xs:extension base="generic:DataPrepEntities"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MovableElement">
    <xs:complexContent>
      <xs:extension base="sig:MovableElement">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="canReportDegradedStatus" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>True: this movable element can report a degraded status which means a loss of full detection.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

